/* PSEUDO-CLASSE */
/* p:not(.meio) {
    color: blue;
}

input:checked + p {
    background: red;
}
input:not(:checked) + p {
    background: yellow;
}

ul li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
}
ul li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.411);
}
ul li:nth-child(3n+1){
    background-color: rgba(179, 18, 18, 0.2);
} */

/* p:nth-child(2n +2){
    background-color: rgba(0, 0, 0, 0.3)
} */


/* PSEUDO-ELEMENTO */
/* ul li::after{
    content: ' >';
    color:blue
}

p::first-letter {
    font-size: 150px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line{
    background: red;
}
p::selection{
    background: black;
    color: white
}
.form-field::placeholder {
    color: red;
} */

/* 
ID - Classes, atributos e psd-elementos - Elementos e psd-elementos 
1       0                                   0                    
0       1                                   0
1       1                                   1
*/

/* 
Regra de aplicação: 
    Especificidade
    empate
    style
    !importante
*/

#p {
    background: red;
}
#p.p {
    background: yellow;
}
body#b.bclass p#p.p{
    background: purple;
}
body#b p#p.p {
    background: green;
}
p {
    background: blue !important;
}
