p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 2px;
    word-spacing: 7px;
    line-height: 35px;
    text-align: center;
    /* text-decoration: overline line-through underline; */
    text-indent: 70px;
    text-shadow: 2px 2px 5px rgb(241, 139, 139);
    text-transform: uppercase;


    
    /* https://www.w3schools.com/cssref/css3_pr_text-shadow.php */


}